@font-face {
    font-family: 'NotoSans';
    src: url(../font/NotoSansKR-Medium.otf);
}

.html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'NotoSans';
}

.paySuccess {
    width: 100%;
}