section[name='mainImgSection'] {
    width: 100%;
    height: 700px;
    min-width: 1200px;
    background-color: rgba(0, 0, 0, 0.05);
}

/*대문이미지*/
.mainImgDiv {
    width: 100%;
    height: 600px;
    background-color: #1111;
    border: 2px solid gainsboro;
    background-image: url(../img/brokerageMain.jpg);
    background-size: cover;
}

.mainTitleDiv {
    margin-left: 130px;
    margin-top: 50px;
    width: 80%;
    text-align: left;
    float: left;
}
.mainBox{
    height:100%;
    width:100%;
    display:flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
}
/*글 박스*/
.contentsBox{
    background-color: white;
    width: 1100px;
    height: 100%;
    margin-top: 10px;
    font-family: 'GmarketSans-Medium';

}

.premiumSubscribe1{
    background-color:white;
    width:100%;
    height:1000px;
    position: relative;
    text-align: center;
    
}
.subscribeBox{
    position: relative;
    width:800px;
    height:400px;
    border-radius: 2%;
    border: solid 2px black;
    background-color:#e2e2e2;
    display:inline-block;
    margin-top: 10px;
}
.subscribeBox>h1{
    font-size: 45px;
    padding-top: 17px;
}
.subscribeBox>h3{
    font-size: 22px;
    margin-top: 10px;
}
.subscribeBox>button{
    width:140px;
    height:70px;
    border-radius: 10%;
    font-size:24px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: 900;
    background-color: white;
    cursor:pointer;
}
.subscribeBox>span{
    line-height: 10px;
    font-weight: 400;
}

.subscribeExplanation{
    position: relative;
    width : 1050px;
    background-color: white;
    display: inline-block;
    margin-top: 60px;
}
.subscribeExplanation>span{
    line-height: 30px;
    color: gray;
}

.subscribeExplanation>ul{
    display:inline-block;
    text-align: left;
}
.subscribeExplanation>ul>li{
    padding:10px;
    line-height: 20px;
    color:black;
    font-weight: 100;
}