@font-face {
    font-family: 'NotoSans';
    src: url(../font/NotoSansKR-Medium.otf);
}

.html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'NotoSans';
}

section[name='qnaImgSection'] {
    width: 100%;
    min-width: 1200px;
}

section[name='qnaImgSection'] > img{
    margin: auto;
}

section[name="qnaListSection"] {
    width: 100%;
    min-width: 1200px;
    text-align: center;
}

section[name="qnaListSection"] > h1{
    margin-top: 50px;
}

section[name="qnaListSection"] > p {
    color: #c1c1c1;
}

.qnaCategoryDiv {
    margin: auto;
}

.qnaCategoryDiv > button {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    background-color: #9f9f9f;
    border-radius: 50px;
    border: 1px solid #9f9f9f;
}

.qnaInfoListDiv {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    border-top: 0.5px solid #9f9f9f;
}

.qnaInfo {
    border-bottom: 0.5px solid #9f9f9f;
    transition: all 1s;
}

.qnaInfo > p {
    font-size: 13px;
    color: gray;
    text-align: left;
    cursor: pointer;
}








section[name="oneQnaSection"] {
    width: 100%;
    min-width: 1200px;
    margin-top: 200px;
    text-align: center;
}

section[name="oneQnaSection"] > h1{
    margin-top: 50px;
}

section[name="oneQnaSection"] > p {
    color: #c1c1c1;
}

section[name="oneQnaSection"] > a {
    display: block;
    margin-top: 40px;
    color: black;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

span[name='arrowSpan'] {
    position: relative;
    top: 1px;
    box-shadow: none;
    font-weight: 600;
}







section[name="positionQnaSection"] {
    width: 100%;
    min-width: 1200px;
    margin-top: 200px;
    text-align: center;
}

section[name="positionQnaSection"] > h1{
    margin-top: 50px;
}

section[name="positionQnaSection"] > p {
    color: #c1c1c1;
}

section[name="positionQnaSection"] > div {
    margin: auto;
    margin-top: 30px;
}

section[name="positionQnaSection"] > div > button{
    margin: 10px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
}