@font-face {
    font-family: 'NotoSans';
    src: url(../font/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: 'GmarketSans-Medium';
    src: url(../font/GmarketSansTTF/GmarketSansTTFMedium.ttf);
}

@font-face {
    font-family: 'GmarketSans-Light';
    src: url(../font/GmarketSansTTF/GmarketSansTTFLight.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-Medium.ttf);
}


.html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}







/* 메인 헤더 - 카테고리 */

.mainHeader {
    background-color: white;
    width: 100%;
    height: 100px;
    min-width: 1200px;
    position: fixed;
    font-family: 'NotoSans';
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 1s;
    z-index: 100;
}

.mainHeader > nav {
    width: 92%;
    min-width: 1100px;
    margin: auto;
}

.mainLogoDiv {
    width: 15%;
    height: 100px;
    float: left;
}

.mainLogoDiv > a > img {
    position: relative;
    top: 11.5%;
    cursor: pointer;
}

.mainCategoryDiv {
    width: 70%;
    height: 100px;
    float: left;
    margin: auto;
}

.mainUl{
    list-style-type: none;
    display: table;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    top: 7px;
    position: relative;
}

.mainUl > li {
    float:left; 
    line-height:50px;
    margin-left: 15px; 
    margin-right:15px;
    cursor: pointer;
}

.subUl {
    margin-top: 70px;
}

.subUl > div {
    display: none;
    margin: auto;
}

.subUl > div > div {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 50px;
}

.subUl > div > div > a{
    text-decoration: none;
    color: black;
    box-shadow : inset 0 -8px 0 lightblue;
}

div[id='c5SubSub1'] {
    position: absolute;
    left: 55%;
    display: none;
}

div[id='c5SubSub2'] {
    position: absolute;
    left: 55%;
    display: none;
}

.mainLoginDiv {
    width: 15%;
    height: 100px;
    float: left;
}

.mainLoginDiv > button {
    width: 50px;
    height: 50px;
    float: right;
    border: 0;
    border-radius: 50px;
    background-color: white;
    margin-left: 5px;
    position: relative;
    top: 25%;
    cursor: pointer;
}

.mainLoginDiv > button:hover {
    background-color: gainsboro;
}

.mainLoginDiv > button > img {
    margin-top: 2px;
    border: 2px solid gray;
    border-radius: 50px;
}







/* 스크롤 바 */

.progress-container {
    position: fixed;
    text-align: left;
    width: 100%;
    height: 8px;
    background-color: #1111;
    z-index: 102;
}

.progress-bar {
    width: 0;
    height: 8px;
    background: lightskyblue;
}







/* 로그인 팝업 */

.loginPopupDiv {
    display: none;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid gray;
    position: fixed;
    left: 65%;
    text-align: center;
    z-index: 103;
    font-family: 'GmarketSans-Medium';
}

.loginPopupDiv > input {
    background-color: #00ff0000;
    border: 0;
    position: absolute;
    top: 0%;
    left: 92%;
    font-size: 1.5em;
    cursor: pointer;
}

.loginPopupDiv > button {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.loginPopupDiv > button:hover {
    background-color: #1111;
}

.loginPopupDiv > button > img {
    float: left;
}

.loginPopupDiv > button > span{
    display: inline-block;
    margin-top: 8px;
    font-size: 1.2em;
    color: gray;
}

























/* 컨텐츠 홈 */

.contHome {
    width: 100%;
    height: 100%;
}








/* 딤드 */

.dimmed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 10;
}




/* 로딩창 */

.loading {
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    background-color: white;
    opacity: 0.9;
    z-index:1000; /* 이 값으로 레이어의 위치를 조정합니다. */
}

.waveform {
    --uib-size: 40px;
    --uib-speed: 1s;
    --uib-color: black;
    --uib-line-weight: 3.5px;
  
    position: relative;
    margin: auto;
    top: 45%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.9);
  }
  
  .waveform__bar {
    width: var(--uib-line-weight);
    height: 100%;
    background-color: var(--uib-color);
  }
  
  .waveform__bar:nth-child(1) {
    animation: grow var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.45) infinite;
  }
  
  .waveform__bar:nth-child(2) {
    animation: grow var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.3) infinite;
  }
  
  .waveform__bar:nth-child(3) {
    animation: grow var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.15) infinite;
  }
  
  .waveform__bar:nth-child(4) {
    animation: grow var(--uib-speed) ease-in-out infinite;
  }
  
  @keyframes grow {
    0%,
    100% {
      transform: scaleY(0.3);
    }
  
    50% {
      transform: scaleY(1);
    }
  }















































/* 푸터 */

footer {
    border-top: 2px solid black;
    width: 100%;
    height: 700px;
    min-width: 1200px;
    margin-top: 200px;
    background-color: #f9f9f9;
}

.footerCategoryDiv {
    width: 1100px;
    height: 300px;
    margin: auto;
    margin-top: 60px;
}

.footerUl {
    padding: 0;
    margin: auto;
    display: table;
    list-style-type: none;
    float: left;
}

.footerUl > li {
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

.footerUl > li >span {
    font-size: 14px;
    font-family: 'GmarketSans-Medium';
    font-weight: 600;
    color: gray;
}

.footerUl > li > ul {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
    font-family: 'GmarketSans-Medium';
}

.footerUl > li > ul > li {
    text-decoration: none;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    cursor: pointer;
}

.footerUl > li > ul > li > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

div[name='footerImgLink'] {
    width: 249px;
    height: 300px;
    float: right;
    text-align: center;
}

div[name='footerImgLink'] > a{
    text-decoration: none;
    margin-left: 7px;
    margin-right: 7px;
}

.footerInfoDiv {
    width: 1100px;
    margin: auto;
    text-align: center;
    font-family: 'GmarketSans-Medium';
}

div[name='footerInfoText'] {
    margin: auto;
    width: 750px;
    text-align: left;
    float: left;
}

div[name='footerInfoText'] > strong{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
}

div[name='footerInfoText'] > p{
    margin: 0;
    margin-bottom: 5px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}

div[name="footerInquiryText"] {
    text-align: center;
    width: 250px;
    float: right;
}

div[name="footerInquiryText"] > strong{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
}

div[name="footerInquiryText"] > p{
    margin: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}

.footerInfoDiv > h4{
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-top: 200px;
    font-size: 15px;
}